<nav class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" href="/"> <img style="position:absolute; TOP:16px; LEFT:30px; " SRC="assets/l0l.png" width="200" height="40"></a>

    <a class="brand" href="/"> <img style="position:absolute; TOP:16px; LEFT:30px; " SRC="assets/mooch-map.png" width="200" height="40"></a>
  </div>



  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if defined?(Devise) %>
        <% if user_signed_in? %>
          <li><%= link_to "Recent Mooches", mooches_path %></li>
          <li><%= link_to "Leaderboard", "#" %></li>
          <li><%= link_to "New Mooch", new_mooch_path %></li>
          <li>
            <%= link_to image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=small"), @user %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Me <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to image_tag("facebook.png", height: "36", width: "200"), "/users/auth/facebook", id: "sign_in" %></li>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
