<div class="row">
  <div class="col-md-4">
    <ul>
      <li>
        <%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=small") %>
      </li>
      <% if @user.username.nil? %>
        <li><%= link_to "Add a username", edit_user_registration_path %></li>
      <% else %>
        <li><%= @user.username %></li>
      <% end %>
      <% if @user.bio.nil? %>
        <li><%= link_to "Add a bio", edit_user_registration_path %></li>
      <% else %>
        <li>Bio</li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8">
    <h2><%= @user.name %></h2>

    <% @user.mooches.each do |mooch| %>
      <%= mooch.description %>
      <%= time_ago_in_words(mooch.created_at) %> ago
    <% end %>
  </div>
</div>