<div class="row">
  <div class="col-md-4">
    <ul>
      <p>
        <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=small") %>
      </p>
      <% if @user.bio.nil? %>
        <p><%= link_to "Add a bio", edit_user_registration_path %></p>
      <% else %>
        <p><%= @user.bio %></p>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8">
    <h2><%= @user.name %></h2>

    <% @user.mooches.each do |mooch| %>
      <%= mooch.description %>
      <%= time_ago_in_words(mooch.created_at) %> ago
    <% end %>
  </div>
</div>