<% if signed_in? %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 400px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
// The following example creates complex markers to indicate beaches near
// Sydney, NSW, Australia. Note that the anchor is set to
// (0,32) to correspond to the base of the flagpole.

function initialize() {
  var mapOptions = {
    zoom: 18,
    center: new google.maps.LatLng("<%= @recent_mooches.first.latitude %>", "<%= @recent_mooches.first.longitude %>")
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  setMarkers(map, beaches);
}

/**
 * Data for the markers consisting of a name, a LatLng and a zIndex for
 * the order in which these markers should display on top of each
 * other.
 */
var beaches = [
  ["<%= @recent_mooches.first.address %>", "<%= @recent_mooches.first.latitude %>", "<%= @recent_mooches.first.longitude %>", 5 ],
  ["<%= @recent_mooches.second.address %>", "<%= @recent_mooches.second.latitude %>", "<%= @recent_mooches.second.longitude %>", 4],
  ["<%= @recent_mooches.third.address %>", "<%= @recent_mooches.third.latitude %>", "<%= @recent_mooches.third.longitude %>", 3],
  ["<%= @recent_mooches.fourth.address %>", "<%= @recent_mooches.fourth.latitude %>", "<%= @recent_mooches.fourth.longitude %>", 2],
  ["<%= @recent_mooches.fifth.address %>", "<%= @recent_mooches.fifth.latitude %>", "<%= @recent_mooches.fifth.longitude %>", 1]
];

function setMarkers(map, locations) {
  // Add markers to the map

  // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.
  var image = {
    url: 'assets/pin.png',
    // This marker is 20 pixels wide by 32 pixels tall.
    size: new google.maps.Size(20, 32),
    // The origin for this image is 0,0.
    origin: new google.maps.Point(0,0),
    // The anchor for this image is the base of the flagpole at 0,32.
    anchor: new google.maps.Point(0, 32)
  };
  // Shapes define the clickable region of the icon.
  // The type defines an HTML &lt;area&gt; element 'poly' which
  // traces out a polygon as a series of X,Y points. The final
  // coordinate closes the poly by connecting to the first
  // coordinate.
  var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image,
        shape: shape,
        title: beach[0],
        zIndex: beach[3]
    });
  }
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

  <h2>Mooch City</h2>
  <ul>
    <% @recent_mooches.each do |mooch| %>
    <li><%= link_to image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=small"), @user %> <%= mooch.description %></li>
    <li><%= time_ago_in_words(l mooch.created_at) %> ago</li>
    <li><%= mooch.address %></li>
  </ul>
  <% end %>



<% else %>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 400px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
// The following example creates complex markers to indicate beaches near
// Sydney, NSW, Australia. Note that the anchor is set to
// (0,32) to correspond to the base of the flagpole.

function initialize() {
  var mapOptions = {
    zoom: 18,
    center: new google.maps.LatLng("<%= @recent_mooches.first.latitude %>", "<%= @recent_mooches.first.longitude %>")
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  setMarkers(map, beaches);
}

/**
 * Data for the markers consisting of a name, a LatLng and a zIndex for
 * the order in which these markers should display on top of each
 * other.
 */
var beaches = [
  ["<%= @recent_mooches.first.address %>", "<%= @recent_mooches.first.latitude %>", "<%= @recent_mooches.first.longitude %>", 5 ],
  ["<%= @recent_mooches.second.address %>", "<%= @recent_mooches.second.latitude %>", "<%= @recent_mooches.second.longitude %>", 4],
  ["<%= @recent_mooches.third.address %>", "<%= @recent_mooches.third.latitude %>", "<%= @recent_mooches.third.longitude %>", 3],
  ["<%= @recent_mooches.fourth.address %>", "<%= @recent_mooches.fourth.latitude %>", "<%= @recent_mooches.fourth.longitude %>", 2],
  ["<%= @recent_mooches.fifth.address %>", "<%= @recent_mooches.fifth.latitude %>", "<%= @recent_mooches.fifth.longitude %>", 1]
];

function setMarkers(map, locations) {
  // Add markers to the map

  // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.
  var image = {
    url: 'assets/pin.png',
    // This marker is 20 pixels wide by 32 pixels tall.
    size: new google.maps.Size(10, 15),
    // The origin for this image is 0,0.
    origin: new google.maps.Point(0,0),
    // The anchor for this image is the base of the flagpole at 0,32.
    anchor: new google.maps.Point(0, 32)
  };
  // Shapes define the clickable region of the icon.
  // The type defines an HTML &lt;area&gt; element 'poly' which
  // traces out a polygon as a series of X,Y points. The final
  // coordinate closes the poly by connecting to the first
  // coordinate.
  var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image,
        shape: shape,
        title: beach[0],
        zIndex: beach[3]
    });
  }
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>

    
    <div class="container marketing">

      
      <h1 class ="space-below">A Social Network for Moochers</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          
          <%= image_tag "pizza_slice_256.png", :size => "140x140"%>
          <h2>Free Food</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "pin.png", :size => "150x130"%>
          <h2>Share with the World</h2>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "cornucopia.png", :size => "140x140"%>
          <h2>Mooch With Friends</h2>
          
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
      
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 MoochMap, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

  </body>
</html>
<% end %>